.form{
    justify-content:center;
    position:absolute;
    top:0; bottom: 0; left: 0; right: 0;
    width: 40vw; height: 30vh;
    background-color: rgb(255, 255, 255);
    border:none;
}
.stepdiv{
    text-align: center;
    margin-top: 40px;
}
.step{
    height: 15px;
    width: 15px;
    margin: 0 15px;
    background-color: #bbbbbb;
    border: none;
    display:inline-block;
    border-radius: 50%;
    opacity: 0.5;
}
.step.active {
    opacity: 1;
}
/* Mark the steps that are finished and valid: */
.step.finish {
    background-color: rgb(30, 161, 212);
}
.form-Input{
    padding: 12px 20px;
    margin: 8px 0;
    border:none;
    background: rgb(218, 216, 216);
}
::placeholder {
    color:black;
    opacity: 1; 
}
.form-Input, select, textarea{
    color:black;
}
.form-Input:focus {
    outline: none;
    padding: 12px 20px;
    margin: 8px 0;
    border-color:white;
    background: rgb(218, 216, 216);
    border: 2px solid rgb(147, 212, 255);
}
.form-Input-error{
    outline: none;
    padding: 12px 20px;
    margin: 8px 0;
    border-color:white;
    background: rgb(218, 216, 216);
    border: 2px solid red;
}
.form-Input-error:focus{
    outline: none;
    padding: 12px 20px;
    margin: 8px 0;
    border-color:white;
    background: rgb(218, 216, 216);
    border: 2px solid red;
}
.multi-form-Button-right{
    float: right;
    border-radius: 5px;
    border:none;
    font: bold;
    font-size: 15px;
    padding: 5px 10px;
    background-color:rgb(30, 161, 212);
}
.multi-form-Button-right:disabled{
    float: right;
    border-radius: 5px;
    border:none;
    font: bold;
    font-size: 15px;
    padding: 5px 10px;
    background-color:rgb(166, 176, 180);
}
.multi-form-Button-left{
    float: left;
    border-radius: 5px;
    border:none;
    font: bold;
    font-size: 15px;
    padding: 5px 10px;
    color:rgb(0, 0, 0);
    background-color:rgb(30, 161, 212);
}
.form-button-right{
    padding-right: 40mm;
}
.form-button-left{
    padding-top: 20px;
    padding-left: 40mm;
}
@media only screen and (max-width: 1200px) {
    /* For tablets: */
   .form {
      width:100%;
      height: 60%;
    }
    .form-Input{
        width:20%;
    }
    .form-button-left{
      width:55%;
    }
    .form-button-right{
        width: 50%;
    }
  }
  @media only screen and (max-width: 500px) {
      /*For mobile*/
    .form {
        width:100%;
        height:50%;
      }
    Nav{
        width: 100%;
    }
    .form-Input{
          width:50%;
      }
    .form-button-left{
        width:100%;
    }
    .form-button-right{
        width: 100%;        
    }
  }
  @media only screen and (min-width:1200px){
   .form {
      width:100%;
      height: 60%;
    }
    .form-Input{
        width:11%;
    }
    .form-button-right{
      width:30%;
    }
    .form-button-left{
        width:30%;
    }
}